html {
    background-color: #add8e6;
    padding: 40px 40px 40px 40px;
}

body {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background-color: #00bfff;
    padding: 20px;
    /*webkit-border-radius: 20px;*/
    border-radius: 20px; 
    border: 5px outset  #6799ac;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.interface {
    background-color: #add8e6;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawChart {
    justify-content: center;
    align-items: center;
}

.atribuicao {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.topo {
    width: 400px;
    height: 100px;
    background-color: #87cefa;
    border-radius: 5px;
    border-style: inset 5px #000;
    display: flex;
    align-items: center;
    /*vertical-align: middle;*/
    justify-content: center;
    /*display: table-cell;*/
    font-family: 'Courier New', Courier, monospace;
}

.left {
    display: inline;
    text-align: left;
    align-items: left;
    justify-content: left;
}

.right {
    display: flex;
    text-align: right;
    align-items: right;
    justify-content: right;

}